# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
./node_modules
dist
dist-ssr
*.local

# ?òÍ≤Ω Î≥Ä??(API ???? ???àÎ? Ïª§Î∞ã?òÏ? ?äÏùå
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vercel

